<nav>
    <h2>SIBAS</h2>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        position: absolute;
        top: 0;
        height: 50px;
        right: 0;
        left: 0;
        background-color: #eee;
    }
</style>